/*----- 1 Typography -----*/

body {
  font-family: 'Karla', sans-serif;
  font-weight:400;
  letter-spacing: -0.015em;
}

h1,h2,h3, h4, h5 {
	font-weight: 700;
  letter-spacing: -0.015em;
}

/*Links*/
a {
  color: #989898;
  text-decoration: none;
}
a:hover, a:focus {
  color: #000000;
}
a:active {
  color: #000000;
}


/* ----- Header and Map Area -----*/

#map{
    position: fixed;
    text-align:center;
    margin: 0;
    width:100%;
    z-index: 10;
    /*
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(0, 0, 0, 0)', GradientType=1);
    padding: 2rem 0;
    */
}

#countyname {
  font-size: 20px;
  height: 5px;
  padding-top: 9px;
}

#space {
    height:200px;
}

.affix {
    position:fixed;
    margin:auto;
    top: 0;
}

.counties :hover {
  fill: red;
}

#sections {
  position: relative;
  display: inline-block;
  width: 700px;
  top: 180px;
  z-index: 90;
}

.step {
  margin-bottom: 200px;
}


