/*----- 1 Typography -----*/

body {
  font-family: 'Karla', sans-serif;
  font-weight:400;
  letter-spacing: -0.015em;
  font-size: 1.75em;
}

h1,h2,h3, h4, h5 {
	font-weight: 700;
  letter-spacing: -0.015em;
}

/*Links*/
a {
  color: #989898;
  text-decoration: none;
}
a:hover, a:focus {
  color: #000000;
}
a:active {
  color: #000000;
}


/* ----- Header and Map Area -----*/

#header {
    position: fixed;
    text-align:center;
    margin: 0;
    width:100%;
    z-index: 2;
    padding-left: 0px;
}

#vis {
    /*position: fixed;
    text-align:center;
    margin: 0;
    margin-left: -15%;
    width:100%;
    z-index: 1;*/
    width:600px;
    margin: 0 auto;
    padding-top: 0px;
}

#title {
  z-index: 3;
  position:relative;
  text-align: center;
}

.subtitle {
  text-align: center;
}



#countyname {
  position:relative;
  font-size: 20px;
  height: 20px;
  padding-top: 9px;
  /*margin-left:400px;*/
  text-align:center;
}

.space {
    height:100px;
}

.affix {
    position:fixed;
    margin:auto;
    top: 0;
}

.counties :hover {
  fill: red;
}

.county-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/*#header {
  z-index: 100 !important;
}*/

#sections {
  /*position: relative;
  display: inline-block;
  width: 1000px;
  top: 180px;
  z-index: 0;*/
}



/*.step {
  margin-bottom: 100px;
}


/* ----- D3 Styling ----- */

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

/* ----- Bubbles ----- */
circle {
  stroke: #fff;
}

#bubbles {
  /*border: solid 2px blue;*/
  margin-left:auto;
  margin-right:auto;
  display: block;
  text-align: center;
  height: auto;
  min-height: 300px;

}


